# Note that almost all daemon options could be specified in
# /etc/lightningd/lightningd.conf

[Unit]
Description=C-Lightning daemon
Requires=bitcoind.service
After=bitcoind.service

# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/lightningd --daemon --conf /etc/lightning/lightningd.conf --lightning-dir=/var/lib/lightningd --log-file=/var/lib/lightningd/lightningd.log --pid-file=/run/lightningd/lightningd.pid

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp -R bitcoin /etc/lightning

# Process management
####################

Type=forking
PIDFile=/run/lightningd/lightningd.pid
Restart=on-failure

# Directory creation and permissions
####################################

# Run as bitcoin:bitcoin
User=bitcoin
Group=bitcoin

# Creates /run/lightningd owned by bitcoin
RuntimeDirectory=lightningd
RuntimeDirectoryMode=0710

# /etc/lightning
ConfigurationDirectory=lightning
ConfigurationDirectoryMode=0710

# /var/lib/lightningd
StateDirectory=lightningd
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
